PORT=4000
JWT_SECRET=cambia-esto-en-produccion
GOOGLE_CLIENT_ID=437009076430-4vvrkjl4v57vl14ua1injodc4cluir8e.apps.googleusercontent.com

# MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=nande_puntos
MYSQL_USER=nande_user
MYSQL_PASSWORD=nande_password
